li a:hover{
    color: pink;
}

li a:link{
    color: green;

}

li a:visited{
    color: red;
}

li:first-child::first-letter{
    font-size: 120%;
    font-weight: bold;
}

a[title *="homepage"]
{
    background-color: yellow;
}



